:root {
  --font-arial: Arial, helvetica, sans-serif;
  --font-georgia: Georgia, serif;
  --colour-peach: #fdce9a;
  --colour-brown: #4a3112;
  /* originale var: 4A2C12*/
  --colour-orange: #de922f;
  --colour-light: #fbe8d7;
  --colour-dark: #141414;
  --nav-colour: hsla(0, 0%, 8%, 0.60);
}

* {
  margin: 0;
  padding: 0;
}

/* firebase log in -----
  Kundelogin - email = kunde@kunde.dk kode = kundekode
  ejer - email = ejer@ejer.dk kode = ejerkode 
  udvikler - email = udvikler@udvikler.dk kode = udviklerkode */

::-webkit-scrollbar {
  width: 0.5vw;
}

::-webkit-scrollbar-track {
  background: var(--colour-brown);
}

::-webkit-scrollbar-thumb {
  background: var(--colour-peach);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--colour-orange);
  transition: 100ms;
}

body {
  background-color: var(--colour-dark);
  font-family: var(--font-arial);
}

h1 {
  color: var(--colour-peach);
  font-family: var(--font-georgia);
  font-size: calc(55px + 0.39065vw);
}

h2 {
  color: var(--colour-orange);
  font-size: calc(36px + 0.39065vw);
  font-family: var(--font-georgia);
  font-weight: 400;
  margin-bottom: 1vh;
}

p {
  font-family: var(--font-arial);
  font-size: calc(14px + 0.39065vw);
  line-height: 3vh;
}

button {
  background-color: var(--colour-brown);
  color: var(--colour-peach);
  padding: 1.5vh 3vw;
  font-family: var(--font-arial);
  font-size: calc(14px + 0.39065vw);
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: var(--colour-orange);
  transition: 250ms;
}

/* ------------ nav ---------------------- */

nav {
  height: 75px;
  background-color: var(--nav-colour);
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 1234;
}

.logo {
  margin-left: 0.5vw;
  margin-top: 0.5vw;
}

nav div {
  display: flex;
  width: 15%;
  margin-right: 5%;
  justify-content: space-between;
  align-items: end;
}

.navlink {
  color: var(--colour-peach);
  text-decoration: none;
  font-family: var(--font-arial);
  font-size: calc(15px + 0.39065vw);
}

/* -------------------- forside -------------------- */

.landingboks {
  position: relative;
  width: 70vw;
  height: 50vh;
  background-color: var(--colour-brown);
  /* evt. en varmere brun? */
  border: var(--colour-peach) solid 2px;
  margin: auto;
  margin-top: 14%;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.landingboks div {
  height: 100%;
  display: flex;
  align-items: center;
}

.landingboks h1 {
  color: var(--colour-peach);
  font-family: var(--font-georgia);
  font-size: calc(55px + 0.39065vw);
  font-weight: 400;
  margin-left: 5%;
  letter-spacing: 0.3vw;
}

.landingboks img {
  width: 20vw;
  height: auto;
  margin-right: 11vw;
}

.landingboks span {
  font-family: 'freestyle script', "apple chancery", sans-serif;
  color: var(--colour-orange);
  font-size: 96px;
  letter-spacing: 1vw;
}

.bookmoedeboks {
  position: absolute;
  background-color: var(--colour-peach);
  color: var(--colour-brown);
  padding: 1vh 2vw;
  padding-top: 2vh;
  right: 17vw;
  bottom: 13vh;
  z-index: 22;
}

.bookmoedeboks p {
  font-size: calc(18px + 0.39065vw);
  margin-bottom: 1vh;
}

.outline {
  position: absolute;
  border: var(--colour-peach) solid 2px;
  width: 70vw;
  height: 50vh;
  top: 20%;
  left: 10%;
}

.textboks {
  width: 70vw;
  height: auto;
  margin: auto;
  margin-top: 20vh;
}

.textboks p {
  color: var(--colour-peach);
}

.textboks p:first-of-type {
  margin-bottom: 2vh;
}

.righttekst p,
.lefttekst p {
  color: var(--colour-peach);
  width: 80%;
}

.righttekst p:first-of-type,
.lefttekst p:first-of-type {
  margin-bottom: 2vh;
}

.righttekst,
.lefttekst {
  width: 70vw;
  margin: auto;
  position: relative;
  margin-bottom: 15vh;
  margin-top: 5vh;
}

.lilleboks {
  position: absolute;
  width: 25vw;
  height: 35vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border: var(--colour-peach) 2px solid;
  background: var(--colour-brown);
}

.lefttekst .lilleboks {
  right: 0;
  top: 8vh;
}

.righttekst .lilleboks {
  left: 0;
  top: 8vh;
}

.lottie {
  width: 90%;
  margin: auto;
  padding: 0;
}

.righttekst .storboks {
  margin-left: 20vw;
  box-sizing: border-box;
  padding-left: 7.5vw;
}

.storboks {
  width: 50vw;
  height: 50vh;
  border: var(--colour-peach) 2px solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.imgleft .lilleboks,
.imgright .lilleboks {
  flex-direction: column;
}

.imgleft .storboks,
.imgright .storboks {
  padding: 0;
}

.lefttekst .storboks {
  padding-left: 2vw;
  padding-top: 2vh;
}

.greenhushwash {
  width: 70vw;
  height: 150%;
  display: flex;
  margin: auto;
  margin-top: 20vh;
  margin-bottom: 20vh;
  padding-bottom: 5vh;
}

.greenhushwash h2 {
  text-align: center;
}

.greenhushwash p {
  color: var(--colour-peach);
  width: 75%;
  margin: auto;
  hyphens: auto;
}

.linje {
  height: auto;
  width: 2px;
  background-color: var(--colour-peach);
}

.anmeldelsesbillede {
  width: 20vw;
  position: absolute;
  left: 2.5vw;
  bottom: -7vh;
}

/* ----------------- foooter ----------------- */

footer {
  background-color: var(--colour-peach);
  height: 50vh;
  margin-top: 20vh;
  color: var(--colour-brown)
}

footer div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70vw;
  margin: auto;
}

.formular {
  display: flex;
  flex-direction: column;
  align-items: end;
  margin-top: 5vh;
}

.kontakt {
  display: flex;
  flex-direction: column;
  align-items: start;
}


footer form {
  display: flex;
  flex-direction: column;
}

footer h3 {
  font-family: var(--font-georgia);
  font-size: calc(32px + 0.39065vw);
  font-weight: 400;
  margin-bottom: 5vh;
}

footer a,
footer p {
  color: var(--colour-brown);
  text-decoration: none;
  margin-top: 1vh;
  font-size: calc(15px + 0.39065vw);
}

footer a:nth-child(3) img {
  width: 25px;
}

input {
  border: none;
  background-color: var(--colour-light);
  color: var(--colour-brown);
  margin-bottom: 1vh;
  padding: 1vh 1vw;
  width: 20vw;
  font-family: var(--font-arial);
}

#meetinginfo {
  height: 5vh;
  resize: none;
  border: none;
  background-color: var(--colour-light);
  color: var(--colour-brown);
  margin-bottom: 1vh;
  padding: 1vh 1vw;
  width: 20vw;
  font-family: var(--font-arial);
}

.formular button {
  padding: 1.4vh 1vw;
}

/* -------------- til log ind side ---------------- */

.logside img {
  width: 20vw;
  height: auto;
  border: solid 2px var(--colour-orange);
  padding: 2% 6% 2% 1%;
}

.logside {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  width: 70%;
  margin: auto;
}

.logside form {
  display: flex;
  flex-direction: column;
}

.logside input {
  border: var(--colour-orange) solid 2px;
  background-color: var(--colour-brown);
  color: var(--colour-light);
}

.logside ::placeholder {
  color: var(--colour-peach);
}

.logside button {
  color: var(--colour-brown);
  background-color: var(--colour-orange);
}
.ux{
  color: red;
  font-size: calc(5px + 0.39065vw);
}
/* --------  bruger/ admin side ----------- */
.moedeside {
  margin-top: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.adminknap{
  padding: 0;
  width: 100%;
}
.page {
  width: 70vw;
  background-color: var(--colour-brown);
  border: var(--colour-peach) 2px solid;
  
}

.page h1 {
  font-size: calc(39px + 0.39065vw);
  margin: 1vh 2vw;
}

.page p {
  color: var(--colour-orange);
  margin-left: 2vw;
}

.nyemoeder {
  color: var(--colour-peach);
  display: flex;
  flex-direction: row;
}

.aktivemoeder {
  color: var(--colour-orange);
  display: flex;
  flex-direction: row;
}

.kundemoede div {
  margin: 1vh 2vw;
}

.sletknap {
  border: #fdce9a solid 2px;
  margin-top: 1vh;
  padding: 1vh 0 0 0;
  width: 100%;
}

.sletknap img {
  width: 1.5vw;
}

.firesektioner {
  text-align: center;
  margin-top: 20vh;
}

.firesektioner div {
  display: flex;
  justify-content: space-between;
  width: 70vw;
  margin: auto;
  color: #fdce9a;
}

.firesektioner div section {
  border: #fdce9a solid 2px;
  width: 20%;
}

.firesektioner h1 {
  color: #de922f;
}

.vaerdi {
  width: 70vw;
  margin: auto;
  margin-top: 10vh;
}

.lilleboks img{
  max-width: 20vw;
  height: auto;
}

@media screen and (max-width: 1400px) {
  .bookmoedeboks {
    bottom: 20vh;
  }

  nav div {
    display: flex;
    width: 20%;
    margin-right: 5%;
    justify-content: space-between;
    align-items: end;
  }

  .outline {
    position: absolute;
    border: var(--colour-peach) solid 2px;
    width: 70vw;
    height: 50vh;
    top: 12%;
    left: 10%;
  }

  .anmeldelsesbillede {
    bottom: 0vh;
  }
}

@media screen and (max-width: 1000px) {
  nav div {
    width: 20%;
  }

  .logo {
    height: 10vh;
    margin-top: 2vw;
  }

  .landingboks {
    height: 40vh;
  }

  .outline {
    height: 40vh;
  }

  h1 {
    font-size: calc(42px + 0.39065vw) !important;
  }

  .landingboks span {
    font-size: 70px;
  }

  .landingboks img {
    margin-right: 9vw;
  }

  .bookmoedeboks {
    bottom: 33vh;
    z-index: 22;
  }

  h2 {
    font-size: calc(24px + 0.39065vw);
  }

  p {
    font-size: calc(12px + 0.39065vw);
  }

  .lilleboks {
    width: 35vw;
  }

  .lefttekst .lilleboks {
    top: 6vh;
  }

  .righttekst .lilleboks {
    top: 5vh;
  }

  .storboks {
    max-height: 45vh;
  }

  .storboks p {
    width: 60%;
  }

  .lottie {
    width: 90%;
    margin: auto;
    padding: 0;
  }

  .imgleft .storboks .lottie {
    padding-left: 7.5vw;
  }

  .imgright .storboks .lottie {
    width: 350px;
    position: absolute;
    top: 10vw;
    padding-right: 10vw;
  }

  .anmeldelsesbillede {
    padding: 0 0 2vh 5vw;
  }
}

@media screen and (max-width: 950px) {
  nav div {
    width: 25%;
  }

  .landingboks {
    height: 35vh;
  }

  .outline {
    height: 35vh;
    left: 12.5%;
  }


  .bookmoedeboks {
    bottom: 40vh;
    z-index: 22;
  }

  .bookmoedeboks p {
    font-size: calc(14px + 0.39065vw);
  }
}

@media screen and (max-width: 899px) {
  .outline {
    display: none;
  }

  .imgright .storboks .lottie {
    position: absolute;
    top: 12vw;
    left: -1vw;
  }

  .lefttekst .storboks h2 {
    width: 50%;
  }

  .logo {
    height: 8.5vh;
    margin-top: 2vw;
  }
}

@media screen and (max-width: 755px) {
  nav div {
    width: 30%;
  }

  .bookmoedeboks {
    bottom: 40vh;
    z-index: 22;
  }

  .bookmoedeboks p {
    font-size: calc(12px + 0.39065vw);
  }

  .imgright .storboks .lottie {
    position: absolute;
    top: 12vw;
    left: -5vw;
}
} 

@media screen and (max-width: 700px) {
  .lottie {
    max-width: 50vw;
    height: auto;
  }

  .landingboks, .outline, .textboks, .righttekst, .lefttekst, footer div, .page, .firesektioner div, .vaerdi {
    width: 80vw;
  }

  .lefttekst{
    display: flex;
    flex-direction: column-reverse;
    margin: auto;
  }

  .lefttekst .lilleboks{
    position: relative;
    margin: auto;
    width: 100%;
  }

  .lefttekst .storboks{
    width: 100%;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .lefttekst .storboks h2, .lefttekst .storboks p{
    width: 80%;
  }

  nav{
    height: 45px;
  }

}
@media screen and (max-width: 500px) {
  .lottie{
    max-width: 70vw;
    height: auto;
  }
}